* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px;
  margin: 0px 3px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}
